h2, div{
    font-family: "Times New Roman";                 /* Fonte da letra */
    font-size: 15px;                                /* Tamanho da fonte */
}

div div{
    width: 200px;                                   /* Largura da caixa */
    padding: 1px 4px;                               /* Almofasda interna da caixa */
    margin: 4px;                                    /* Espaço de separação das caixas */
    border: 1px solid darkblue;                     /* Borda solida */
    background-color: lightcyan;                    /* Cor de fundo da tela */
    text-align: center;                             /* Alinhamento do texto ao cento da caixa */
}

/****************************
 ***** Classes no HTML5 *****
 ****************************/
.naofloat{
    clear: both;
}

.esqfloat{
    float: left;
}

/************************************
 ***** Identificadores no HTML5 *****
 ************************************/
/*#ccarga{
    float: left;
}

#cforca{
    float: left;
}

#cgrandezas{
    float: left;
}*/